In [1]:
# python 2 input
# python 3 input

x = 10
def jaka1():
	x = 20 #namespace variable
	return x
print(jaka1()) # 20
print(x) #10

20
10

In [2]:

x = 10
def jaka():
    global x
    x = 30
    return x
print(jaka()) #30
print(x) # 30

30
30

In [1]:
# IF STATEMENT
#if
x = int(input("masukkan inputan: ")) #input
if x < 10:
    print("x lebih kecil dari 10")
elif x == 3:
    print("x sama dengan 3")
else:
    print("yang lainnya")
# output x lebih kecil dari 10

masukkan inputan: 1
x lebih kecil dari 10

In [8]:
# IF dengan switch python 3.10
a = 9
# match a:
#     case 10:
#         print("10")
#     case _:
#         print("ELSE")

def switch(a):
    if a < 10:
        print("a lebih kecil dari 10")
    else:
        print("else")

switch(a)

a lebih kecil dari 10

In [2]:
# FOR STATEMENT
#for
array1 = ['jaka', 'prima', 'maulana']
for x in array1:
	print(x, len(x))
#output
#jaka 4
#prima 5
#maulana 7

jaka 4
prima 5
maulana 7

In [8]:

#insert di loop pada spesifik index
for w in array1[:]: #copy semua array untuk insert harus pake
	if len(w) > 5:
		array1.insert(0, w)
print(array1)
#output : maulana, jaka, prima, maulana

['maulana', 'maulana', 'maulana', 'maulana', 'maulana', 'maulana', 'maulana', 'jaka', 'prima', 'maulana']

In [13]:
# range
a = range(5) #0,1,2,3,4 terbuat 5 data #typenya <class 'range'>
for x in a:
    print(x)

0
1
2
3
4

In [20]:

#start from
b = range(6,10) #6,7,8,9 10-6 = ambil 4 data
for x in b:
    print(x)

6
7
8
9

In [27]:

# range specify different increment (step)
a = range(0, 10, 3) # looping dengan increment +3 output: 0, 3, 6, 9 tidak boleh 10
for x in a:
    print(x)

0
3
6
9

In [29]:
a= range(-10, -100, -30) # looping dengan increment +(-30) output: -10, -40(-10+-30), -70(-40+-30)
for x in a:
    print(x)

-10
-40
-70

In [3]:
# LOOP dengan DICT
data = {'key1': 'value 1', 'key2': 'value 2'}
for key, value in data.copy().items():
    print(f"key={key} value={value}")

key=key1 value=value 1
key=key2 value=value 2

In [30]:
# sum saat looping
sum(range(4)) # 0+1+2+3 output: 6

6

In [31]:
#loop with range
array1 = ['jaka', 'prima', 'maulana']
print(len(array1)) # 3
for x in range(len(array1)):
	print(x, array1[x])
#output
#0 jaka
#1 prima
#2 maulana

3
0 jaka
1 prima
2 maulana

In [37]:
#break statement (contoh: mencari factorial)
for x in range(2,10):
    for y in range(2, x):
        if x % y == 0:
            print(x, '=', y, '*', x/y)
            break
        else:
			# loop gagal tanpa menemukan factorial
            print(x, '')

3
4 = 2 * 2.0
5
5
5
6 = 2 * 3.0
7
7
7
7
7
8 = 2 * 4.0
9
9 = 3 * 3.0

In [42]:
#continue
for angka in range(1, 10):
    if angka % 2 == 0:
        print(angka, 'genap ditemukan')
        continue
    print(angka, 'angka ganjil')

1 angka ganjil
2 genap ditemukan
3 angka ganjil
4 genap ditemukan
5 angka ganjil
6 genap ditemukan
7 angka ganjil
8 genap ditemukan
9 angka ganjil

In [43]:
# function
#fibonachi
def nameFunction(n): # menulis Fibonacci series ke n
	a,b = 0,1
	while a < n:
		print(a),
		a, b = b, a+b
nameFunction(2000)
#0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597

In [45]:
#default argument
def fungsi2(pesan, angka=4, pesan2='ya atau tidak!'):
	while True:
		ok = input(pesan)
		if ok in ('y', 'ye', 'yes'):
			return True
		if ok in ('n', 'no'):
			return False
		angka = angka - 1
		if angka < 0:
			raise IOError('error user')
		print(pesan2)

fungsi2('apakah kamu ingin keluar?')
#fungsi2('apakah kamu ingin keluar?', 2)
#fungsi2('apakah kamu ingin keluar?', 2, 'pesankeluar')

apakah kamu ingin keluar?n

False

In [46]:
#unpacking argument list with *
args = [3,6]
range(*args) # 3,4,5

range(3, 6)

In [47]:
#unpacking argument dictionaries with **
def f(arg1, arg2='default arg2 val', arg3='default arg3 val'):
	print(arg1)
	print(arg2)
	print(arg3)

dictionaries = {"arg1": "isi arg1", "arg2": "isi arg2", "arg3": "isi arg3"}
f(**dictionaries)

isi arg1
isi arg2
isi arg3

In [48]:
#lambda expression = anonymous func
def f(n):
	return lambda x: x + n
f2 = f(10)
print(f2(20)) # 30

30

In [49]:
func1 = lambda params: params+params
print(func1(10)) #20

20